body{
    font-family: 'Otomanopee One', sans-serif;
}
section{
    padding-top: 100px;
    padding-bottom: 100px;
}
h1{
    font-size: 40px;
}
.color-orange{
    color: orange;
}
.flexible-container{
    display: flex;
}
.width{
    width: 50%;
    padding-left: 10%;
    
}
.width img{
    width: 90%;
    
    padding-right: 20%;
}
.button{
    background-image: linear-gradient(orange,orangered);
    color: white;
    font-weight: 700;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 200px;
}
.width-l{
    width: 50%;
    padding-left: 5%;
    padding-right: 10%;
}
.width-l img{
    width: 68%;
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 0%;
}
.picture{
    background-image: url(food-network-main/images/shapes/7.png);
    background-repeat: no-repeat;
}
.enlighten{
    text-align: center;
}
.pizza{
    text-align: justify;
}
.flexible-container-l{
    display: flex;
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 10px;
    border-radius: 10px;
}
.flexible-container-la{
    width: 250px;
    text-align: center;
    box-shadow: 5px 5px white;
}